.description::-webkit-scrollbar {
  width: 3px;
}
.card {
  background-color: rgb(157, 157, 157);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.card:nth-child(2n) {
  display: flex;
  flex-direction: column-reverse;
}
