.fixedlogo {
    z-index: 1000;
    position: fixed;
    right: 40px;
    bottom: 40px;
    .fimg1 {
      z-index: 1000;
      position: fixed;
      right: 40px;
      bottom: 40px;
      scale: 60%;
    }
    .fimg2 {
      z-index: 800;
      background-color: white;
      border-radius: 100%;
      animation-duration: 4s;
      padding: 4px;
      position: fixed;
      right: 40px;
      bottom: 40px;
    }
  }
  

// @media screen and (max-width: 480px) {
//     .fixedlogo{
//         .fimg2{
//             width: 100px;
//         }
//         .fimg1{
//             width: 100px;
//         }
//     }
    
// }