.contact{
    background: rgb(255, 255, 255);
  background: linear-gradient(
    40deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgb(103, 103, 103) 100%
  );
}

.input{
  border: 2px solid rgb(232, 232, 232);
  border-radius: 10px;
  padding: 4px;
  margin: 4px;
  &::placeholder{
    color: rgb(195, 195, 195);
    padding-left: 10px;
  }
}