$main-color: #000000;
$bg-color: #fefeff;
$primary-color: #6d6b6b;
$secondary-color: #010100;

.links {
  a {
    text-decoration: none;
    display: block;
    padding: 5px 0;
    line-height: 1;
    position: relative;
    z-index: 1;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      to right,
      $main-color,
      $main-color 50%,
      #616161 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
    &:before {
      display: block;
      content: "";
      width: 0;
      height: 3px;
      bottom: 5px;
      left: 0;
      bottom: -3px;
      z-index: 0;
      position: absolute;
      background: $main-color;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      background-position: 0%;
      &:before {
        width: 100%;
      }
    }
  }
}

.drawer {
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  li {
    width: 100vw;
    text-align: center;
    position: relative;
    margin-right: 12em;
    color: $primary-color;
    font-family: inter;
    font-size: 20px;
    list-style: none;
    padding: 20px;
  }
  .links {
    text-decoration: none;
    color: inherit;
  }
  .closeIcon {
    width: 40px;
    height: 40px;
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
    filter: opacity(50%);
  }
}
.ham-menu {
    width: 50px;
    svg path {
      stroke: $primary-color;
    }
  }