.footlinks{
    a{
        text-decoration: none;
    }
    a:hover{
        filter: drop-shadow(white 4px 4px 20px);
    }
    p{
        transition: 0.5s;
    }
    p:hover{
        color: white;
        filter: drop-shadow(white 1px 1px 10px);
    }
    
}

